@charset "UTF-8";
/* latin */

body {
    background-color: #3B6EA5;
}

.remi-main input[type='checkbox']:focus,
.remi-main input[type='color']:focus,
.remi-main input[type='number']:focus,
.remi-main input[type='text']:focus,
.remi-main input[type='date']:focus {
    border: 0px;
    outline: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14);
    border-bottom: 1px solid rgba(2, 70, 147, 0.26);
}

::-moz-selection {
    background: rgba(2, 70, 147, 0.26);
    text-shadow: none
}

::selection {
    background: rgba(2, 70, 147, 0.26);
    text-shadow: none
}

.remi-main audio,
.remi-main canvas,
.remi-main iframe,
.remi-main img,
.remi-main svg,
.remi-main video {
    vertical-align: middle
}

.remi-main textarea {
    resize: vertical
}

.remi-main a,
.remi-main a:visited {
    text-decoration: underline
}

html {
    height: 100%;
}

.remi-main {
    display: grid;
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    font-size: 14pt;
    font-weight: 400;
    justify-content: center;
}

*[hidden] {
    display: none !important
}

.remi-main h1,
.remi-main h2,
.remi-main h3,
.remi-main h4,
.remi-main h5,
.remi-main h6,
.remi-main p {
    padding: 0;
    margin: 0;
}

.remi-main h1 small,
.remi-main h2 small,
.remi-main h3 small,
.remi-main h4 small,
.remi-main h5 small,
.remi-main h6 small {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em
}

.remi-main h1 {
    font-size: 400%;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0
}

.remi-main h1,
.remi-main h2 {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}

.remi-main h2 {
    font-size: 320%;
    line-height: 48px
}

.remi-main h2,
.remi-main h3 {
    margin: 24px 0
}

.remi-main h3 {
    font-size: 240%;
    line-height: 40px
}

.remi-main h3,
.remi-main h4 {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}

.remi-main h4 {
    font-size: 170%;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px
}

.remi-main h5 {
    font-size: 140%;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em
}

.remi-main h5,
.remi-main h6 {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    margin: 24px 0 16px
}

.remi-main h6 {
    font-size: 114%;
    letter-spacing: .04em
}

.remi-main h6,
.remi-main p {
    font-weight: 400;
    /*line-height: 24px*/
}

.remi-main p {
    letter-spacing: 0;
}

.remi-main a {
    color: rgba(2, 70, 147, 0.8);
    font-weight: 500
}

.remi-main blockquote {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    position: relative;
    font-size: 170%;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em
}

.remi-main blockquote:before {
    position: absolute;
    left: -.5em;
    content: '�'
}

.remi-main blockquote:after {
    content: '�';
    margin-left: -.05em
}

.remi-main mark {
    background-color: #f4ff81
}

.remi-main dt {
    font-weight: 700
}

.remi-main address {
    font-size: 86%;
    line-height: 1;
    font-style: normal
}

.remi-main address,
.remi-main ul,
.remi-main ol {
    font-weight: 400;
    letter-spacing: 0
}

.remi-main ul,
.remi-main ol {
    line-height: 12px
}

.remi-main .RaisedFrame {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    z-index: 1;
}

.remi-main div {
    display: grid;
    padding: 8px 0;
    z-index: 0;
}

.remi-main .HBox {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 24px;
    justify-content: none !important;
    display: grid !important;
    flex-direction: none !important;
    align-items: start !important;
}

body> :nth-of-type(2) {
    background: repeating-linear-gradient(to bottom,
            #FEFEFE,
            #FEFEFE 2px,
            #F0F0F0 2px,
            #F0F0F9 4px);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.8);
    margin-top: 32px;
    transition: height 1s;
    width: 1024px;
    max-height: fit-content !important;
    padding: 32px !important;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    aspect-ratio: 4 / 3;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
}


.remi-main .VBox {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    row-gap: 16px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
    height: 100%;
    justify-content: start !important;
}

.remi-main .HBox,
.remi-main .VBox {
    box-sizing: border-box;
    padding: 24px;
}

.remi-main .VBox > .HBox {
    padding: 8px !important;
}

.remi-main>* {
    width: 100%;
}

.remi-main *[disabled='True'] {
    filter: grayscale(100%) opacity(0.6);
    pointer-events: none;
}

.remi-main .ListView {
    border: 1px solid #BBB;
    padding: 0;
    background-color: white;
    cursor: default;
    overflow: auto;
    list-style: none;
    min-width: 200px;
    box-shadow: inset 1px 1px #999;
    resize: horizontal;
    margin: 0;
}

.remi-main option:hover {
    background: rgba(2, 70, 147, 0.26);
    outline: 1px solid red;
}

.remi-main .ListItem {
    background-color: transparent;
    border-bottom: transparent;
    margin: 4px;
    padding: 4px;
    min-width: calc(100% - 8px);
    border: none;
}

.remi-main .ListItem[selected='True'] {
    background: #0831d9;
    color: white;
}

.remi-main input[type='number'],
.remi-main input[type='text'],
.remi-main input[type='date'],
.remi-main input[type='color'],
.remi-main textarea,
.remi-main li {
    border: 1px solid rgba(0, 0, 0, .5);
    border-top: 1px solid rgba(0, 0, 0, .8);
    display: block;
    font-size: 95%;
    background: 0 0;
    text-align: left;
    color: inherit;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

.remi-main textarea:disabled,
.remi-main input[type='checkbox']:disabled,
.remi-main input[type='color']:disabled,
.remi-main input[type='number']:disabled,
.remi-main input[type='text']:disabled,
.remi-main input[type='date']:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.remi-main input[type='checkbox'] {
    height: 100%;
    min-height: 20px;
    min-width: 20px;
}

button,
select {
    grid-row: 1;
    font-size: 14pt;
    font-family: "Lucida Grande", "Lucida Sans", "Helvetica", "Arial", sans-serif;
    min-height: 1.75em;
    max-height: 1.75em;
    padding: 0 2em;
    min-width: 6em;
    border: 0;
    border-radius: 1000px;
    position: relative !important;
    overflow: hidden;
    cursor: default;
    outline: none;
    background: linear-gradient(rgba(160, 160, 160, 0.625), rgba(255, 255, 255, 0.625));
    box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2), 0 0.125em 0.125em rgba(0, 0, 0, 0.3), inset 0 0.25em 0.25em rgba(0, 0, 0, 0.4), inset 0 0.375em 0.5em 0.25em #BBBBBB;
}

select {
    appearance: none;
    border-radius: 6px !important;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) !important;
    padding-left: 16px;
    background: linear-gradient(180deg, rgba(128, 128, 128, 0.75) 0%, rgba(226, 226, 226, 0.75) 1%, rgba(222, 222, 222, 0.75) 23%, rgba(209, 209, 209, 0.75) 36%, rgba(254, 254, 254, 0.75) 99%, rgba(128, 128, 128, 0.75) 100%) left / calc(100% - 32px) no-repeat, url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m15.99 5.992-5.711 8.525 11.491 0.032-5.78-8.557z"/><path d="m15.99 25.992-5.711-8.526 11.491-0.032-5.78 8.558z"/></svg>') right / 32px no-repeat, linear-gradient(180deg, rgba(7, 71, 156, 0.75) 0%, rgba(77, 160, 255, 0.75) 1%, rgba(202, 229, 255, 0.75) 4%, rgba(170, 211, 255, 0.75) 29%, rgba(61, 155, 255, 0.75) 31%, rgba(174, 255, 255, 0.75) 99%, rgba(14, 71, 162, 0.75) 100%) right / 32px no-repeat, rgba(255, 255, 255, 0.7);
}

select:disabled {
    opacity: 0.9;
    filter: saturate(0);
}

button:before,
select:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 33%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    width: calc(100% - 0.875em);
    border-radius: 2em 2em 0.5em 0.5em;
    top: 5%;
    filter: blur(1px);
    z-index: 2 !important;
}

button:after,
select:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 33%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    width: calc(100% - 1.25em);
    border-radius: 0.75em;
    bottom: 10%;
    filter: blur(3px);
}

button:focus,
button:active {
    box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2), 0 0.125em 0.125em rgba(0, 0, 0, 0.3), inset 0 0.25em 0.25em rgba(0, 0, 0, 0.4), inset 0 0.375em 0.5em 0.25em #BBBBBB, 0 0 0.5em rgba(0, 0, 0, 0.25);
}

button::first-line {
    position: relative;
    top: -1px;
    z-index: 1 !important;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    text-shadow: 0 0.25em 0.2em rgba(0, 0, 0, 0.25);
}

@keyframes remi-main-outline-animation {
    0% {
        outline: 1px dashed lightgray;
    }

    100% {
        outline: 1px dashed white;
    }
}

.remi-main .TextInput {
    display: block;
    font-family: "Lucida Grande", "Lucida Sans", "Helvetica", "Arial", sans-serif;
    padding: 0;
    /*background: 0 0;*/
    text-align: left;
    background-color: white;
}

.remi-main table {
    border-spacing: 0;
    overflow: scroll;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.remi-main .TableItem {
    padding: 0px;
    border: 1px solid white;
    outline: 0px;
}

.remi-main .TableEditableItem>.TextInput {
    height: 100%;
}

.remi-main td {
    border: 1px solid white;
    outline: 0px;
    background-color: rgb(245, 245, 245);
}

.remi-main th {
    border: 1px solid white;
    outline: 0px;
    background: rgba(19, 108, 209, .6);
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.remi-main p.DialogTitle {
    border: 0px;
    border-bottom: 1px solid rgba(111, 111, 143, 0.5);
    margin: 0px;
    padding: 4px 0 4px 0;
    font-family: "Lucida Grande", "Lucida Sans", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-top: -8px;
}

.remi-main p.Title {
    border: 0px;
    color: inherit;
    font-weight: bold;
}

.remi-main nav>ul.Menu {
    background: #ece9d8;
    border: 0px;
    color: black;
    margin: 0px;
}

.remi-main ul.Menu {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: flex;
}

.remi-main .MenuItem {
    cursor: default;
    position: relative;
    background-color: transparent;
    border-bottom: transparent;
}

.remi-main .Menu .Menu {
    position: absolute;
}

.remi-main .Menu .Menu .Menu {
    top: 5%;
    left: 95%;
    position: absolute;
}

.remi-main .MenuItem .Menu {
    display: none;
    background-color: white;
    border: 1px solid #9C9B9B;
    height: auto !important;
    position: absolute;
    top: 100%;
    z-index: 1;
    min-width: 100px;
    max-width: 200px;
}

.remi-main .MenuBar>.Menu>.MenuItem {
    border-bottom: 0;
    background: #ece9d8;
}

.remi-main .MenuBar {
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    width: 100%;
}

/* .remi-main .Menu::after {
    content: "";
    clear: both;
} */

.remi-main .MenuItem:focus-within>.Menu {
    display: block;
}

.remi-main .GenericDialog {
    border-radius: 8px 8px 0 0;
    margin: 64px auto !important;
    padding: 8px 0 !important;
    height: fit-content;
}

.remi-main .GenericDialog .Label,
.remi-main .GenericDialog .Container {
    padding: 24px;
}

.remi-main .GenericDialog .DialogTitle {
    padding: 4px !important;
}

.remi-main input.file {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(2, 70, 147);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.remi-main input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    color: rgb(2, 70, 147);
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    height: 100%;
}

.remi-main input[type='range']::-moz-focus-outer {
    border: 0
}

.remi-main input[type='range']::-ms-tooltip {
    display: none
}

.remi-main input[type='range']::-webkit-slider-runnable-track {
    background: rgba(2, 70, 147, 0.26);
    height: 2px;
}

.remi-main input[type='range']::-moz-range-track {
    background: rgba(2, 70, 147, 0.26);
    height: 2px;
    border: none;
}

.remi-main input[type='range']::-ms-track {
    background: rgba(2, 70, 147, 0.26);
    height: 2px;
    color: transparent;
    width: 100%;
    border: none;
}

.remi-main input[type='range']::-ms-fill-lower {
    padding: 0;
    background: linear-gradient(to right, transparent, transparent 16px, rgb(15, 113, 225), rgb(15, 113, 225))
}

.remi-main input[type='range']::-ms-fill-upper {
    padding: 0;
    background: linear-gradient(to left, transparent, transparent 16px, rgba(0, 0, 0, .26), rgba(0, 0, 0, .26)0)
}

.remi-main input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    top: -5px;
    width: 12px;
    height: 12px;
    position: relative;
    box-sizing: border-box;
    border-radius: 100%;
    background: rgb(2, 70, 147);
    border: none;
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}

.remi-main input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 100%;
    background-image: none;
    background: rgb(2, 70, 147);
    border: none
}

.remi-main input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(4, 90, 188, 0.26);
}

.remi-main input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(4, 90, 188, 0.26);
}

.remi-main input[type='range']:active::-webkit-slider-thumb {
    background-image: none;
    background: rgb(2, 70, 147);
    /*-webkit-transform: scale(1.5);*/
    /*transform: scale(1.5)*/
}

.remi-main input[type='range']:active::-moz-range-thumb {
    background-image: none;
    background: rgb(2, 70, 147);
    /*transform: scale(1.5)*/
}

.remi-main input[type='range']::-ms-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: rgb(2, 70, 147);
    /*transform: scale(.375);*/
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}

.remi-main input[type='range']:focus:not(:active)::-ms-thumb {
    background: radial-gradient(circle closest-side, rgb(15, 113, 225) 0%, rgb(15, 113, 225) 37.5%, rgba(4, 90, 188, 0.26); 37.5%, rgba(4, 90, 188, 0.26); 100%);
    transform: scale(1);
}

.remi-main input[type='range']:active::-ms-thumb {
    background: rgb(2, 70, 147);
    /*transform: scale(.5625)*/
}

.remi-main input[type='range']:disabled:focus::-webkit-slider-thumb,
.remi-main input[type='range']:disabled:active::-webkit-slider-thumb,
.remi-main input[type='range']:disabled::-webkit-slider-thumb {
    -webkit-transform: scale(.667);
    /*transform: scale(.667);*/
    background: rgba(0, 0, 0, .26)
}

.remi-main input[type='range']:disabled:focus::-moz-range-thumb,
.remi-main input[type='range']:disabled:active::-moz-range-thumb,
.remi-main input[type='range']:disabled::-moz-range-thumb {
    /*transform: scale(.667);*/
    background: rgba(0, 0, 0, .26)
}

.remi-main #loading {
    display: none;
}

.remi-main #loading-animation {
    background-color: rgb(2, 70, 147);
    opacity: 0.2;
}

.remi-main .TabBox {
    box-shadow: 3px 3px 5px rgb(150, 150, 150);
}

.remi-main .TabBox ul {
    padding-left: 0;
    margin: 0px;
}

.remi-main .TabBox ul li {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: #888;
    padding: 20px 0;
    outline: 1px solid #888;
    background: #e7e7e7;
}

.remi-main .TabBox ul li.active {
    background: white;
    outline: none;
}

.remi-main .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.remi-main ul.TreeView {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: block;
}

.remi-main .TreeItem {
    background-repeat: no-repeat;
    text-indent: 18px;
    display: block;
}

.remi-main .TreeItem[has-subtree='true'][treeopen='false'] {
    background-image: url('/res:plus.png');
    background-position: 0px 4px;
}

.remi-main .TreeItem[has-subtree='true'][treeopen='true'] {
    background-image: url('/res:minus.png');
    background-position: 0px 4px;
    border-bottom: 0;
}

.remi-main .TreeItem[treeopen="false"] .TreeView .TreeItem {
    display: none;
}

.remi-main .TreeItem[treeopen="false"] .TreeView {
    display: none;
}

.remi-main .TreeItem[treeopen="true"] .TreeView {
    padding-left: 18px;
}

.remi-main .TreeItem:hover {
    background-color: rgba(2, 70, 147, 0.26);
}

.remi-main .TreeItem[has-subtree='true'][treeopen='true']:hover {
    background-color: transparent;
}

.remi-main a {
    outline: none;
}

.remi-main .Label {
    min-height: 14pt;
}

.remi-main .FileFolderItem {
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.remi-main .FileFolderItem .Label {
    margin: 0px;
}

.remi-main .FileFolderItemIcon {
    width: 30px;
    height: 30px;
}